@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat'),
        url('../Fonts/Montserrat-Light.woff2') format('woff2'),
        url('../Fonts/Montserrat-Light.woff') format('woff'),
        url('../Fonts/Montserrat-Light.ttf') format('ttf'),
        url('../Fonts/Montserrat-Light.eot') format('eot');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat'),
        url('../Fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../Fonts/Montserrat-Regular.woff') format('woff'),
        url('../Fonts/Montserrat-Regular.ttf') format('ttf'),
        url('../Fonts/Montserrat-Regular.eot') format('eot');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat'),
        url('../Fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../Fonts/Montserrat-Medium.woff') format('woff'),
        url('../Fonts/Montserrat-Medium.ttf') format('ttf'),
        url('../Fonts/Montserrat-Medium.eot') format('eot');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat'),
        url('../Fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../Fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../Fonts/Montserrat-SemiBold.ttf') format('ttf'),
        url('../Fonts/Montserrat-SemiBold.eot') format('eot');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: local('Montserrat'),
        url('../Fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../Fonts/Montserrat-Bold.woff') format('woff'),
        url('../Fonts/Montserrat-Bold.ttf') format('ttf'),
        url('../Fonts/Montserrat-Bold.eot') format('eot');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat'),
        url('../Fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../Fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../Fonts/Montserrat-ExtraBold.ttf') format('ttf'),
        url('../Fonts/Montserrat-ExtraBold.eot') format('eot');
}
